server {
    listen {{ hypha_external_port }};
    server_name {{ hypha_external_domain }};

    location / {
        # The upstream proxy doesn't pass X-Forwarded-Proto so we fake it outselves.
        # Needed so that django's request.is_secure() work correctly.
        proxy_set_header X-Forwarded-Proto https;
        include proxy_params;
        proxy_pass http://localhost:{{ hypha_host_port }};
    }
}
