server {
    listen {{ hypha_external_port }};
    server_name {{ hypha_external_domain }};

    location / {
        include proxy_params;
        proxy_pass http://localhost:{{ hypha_host_port }};
    }
}
