.steps-sm {
  .step {
    @apply text-sm;
  }
  .step:before {
    height: 0.3rem;
  }
  .step > .step-icon,
  .step:not(:has(.step-icon)):after {
    @apply size-7;
  }
}

.steps .step-primary + .step-primary::before,
.steps .step-primary::after,
.steps .step-primary > .step-icon {
  --step-bg: var(--color-dh-magenta);
}
.steps .step-primary span {
  background-color: var(--color-dh-magenta);
}
