#!/bin/bash
set -euo pipefail

CONTAINER_WEB={{hypha_project_name}}-web
SERVICE_WEB={{hypha_project_name}}-web
IMAGE={{hypha_docker_image}}{% if hypha_docker_tag %}:{{ hypha_docker_tag }}{% endif +%}
LOGFILE="{{ hypha_root_dir }}/deploy_$(date --iso).log"



managepy() {
    echo "$1:"
    docker exec "$CONTAINER_WEB" python -m django "$@"
}


echolog() {
    # Add a timestamp prefix then echo to STDOUT and LOGFILE
    echo "$@" | ts '[%Y-%m-%d %H:%M:%S]' | tee -a "$LOGFILE"
}


echolog "Pulling image $IMAGE..."
docker image pull "$IMAGE"
echolog "Done."

systemctl daemon-reload

echolog "Restarting service $SERVICE_WEB..."
systemctl restart $SERVICE_WEB
echolog "Service restarted. Sleeping for a bit..."
sleep 5
echolog "Done."


echolog "Running post-deploy commands:"
managepy createcachetable
managepy migrate --noinput
managepy clear_cache --cache=default
managepy sync_roles


echolog "All done."
