{# These defaults will only be copied if the file doesn't already exist on the server #}
# Required settings:
SECRET_KEY="{{ lookup('community.general.random_string', length=50) }}"
ALLOWED_HOSTS={{ hypha_external_domain }}
PRIMARY_HOST={{ hypha_external_domain }}
DATABASE_URL="postgres://hypha@{{ hypha_project_name }}-db/hypha"


# Enable basic auth out of the box
# Remove for production
BASIC_AUTH_ENABLED=1
BASIC_AUTH_LOGIN="{{ lookup('community.general.random_string') }}"
BASIC_AUTH_PASSWORD="{{ lookup('community.general.random_string') }}"


# Optional settings
SECURE_SSL_REDIRECT=0

# Hypha settings:
SUBMISSIONS_TABLE_EXCLUDED_FIELDS="lead"
