TIME_ZONE = "Europe/Berlin"

PROJECTS_ENABLED = False
SEND_MESSAGES = True

ORG_LONG_NAME = "DigitalHub.SH"
ORG_SHORT_NAME = "DH.SH"
ORG_EMAIL = "digitalhub.sh@wtsh.de"
ORG_URL = "https://digitalhub.sh/"
ORG_GUIDE_URL = "https://digitalhub.sh/?seid=11954&spid=0#teilnahmebedingungen"

SUBMISSIONS_DRAFT_ACCESS_STAFF = True
SUBMISSIONS_DRAFT_ACCESS_STAFF_ADMIN = True

CURRENCY_CODE = "EUR"
CURRENCY_SYMBOL = "€"
LANGUAGES = [("de", "Deutsch")]
LANGUAGE_CODE = "de"
LANGUAGE_SWITCHER = False
